body {
  background: $mainBg;

}

.el-menu {
  background: $mainBg;
}

.el-table, .el-table tr, .el-table th, .el-dialog {
  background: $tableBg;
}

.el-input__inner, .el-range-input {
  background: $inputBg;
}

.el-loading-mask {
  background: $loadingMaskBg;
}
.el-input.is-disabled .el-input__inner, .el-range-editor.is-disabled input, .el-checkbox__input.is-disabled + span.el-checkbox__labe{
  color: #606266;
}
