#app {
  .main-container{
    background:$mainBg;
    .el-menu{
      background:$mainBg;
    }
    .el-table, .el-table tr,.el-table th, .el-dialog{
      background:$tableBg;
    }
    .el-input__inner, .el-range-input{
      background:$inputBg;
    }
    .el-loading-mask{
      background:$loadingMaskBg;
    }
  }
}
